<!doctype html>
<html lang="id">

<!-- Head Section -->
<head>
    <%- include('templates/head'); -%>

  </head>
<!-- Head Section End -->
  
<body>

<!-- Header Section -->
<%- include('templates/header'); -%>
<!-- Header Section End -->

        <!-- Content Section -->
        <div class="container-fluid bg-light my-4">
            <div class="row bgbg pt-3 row">    
                <div class="col-md-6 pt-3 pb-3 pl-4">
                    <p id="aboutTxt"><%= about %></p>
                </div>
                <div class="col-md-6 mb-5">
                    <h5 class="black-lines pb-4">Our Team</h5>
                    <div class="row abouts ml-1">
                        <%  team.forEach(function(isi) { var data = isi.val(); %>
                            <div class="mrg col-5">    
                                <img  alt="<%= data.nama %>" class="rounded-circle px-1 img-fluid img-responsive" style="overflow: hidden;" src="https://firebasestorage.googleapis.com/v0/b/cromosom1.appspot.com/o/foto%2F<%= data.foto %>?alt=media">
                                <div class="caption"><span><%= data.nama %></span></div>
                            </div>
                        <%  }); %>         
                        
                        
                    </div>    
                </div>
            </div>
            <div class="text-center">
                <div class="col-md-12 py-5">
                    <h3 class="letterspace">SERVICES</h3>
                </div>
                <div class="col-md-12 pb-5 row servies">
                        <%  service.forEach(function(isi) { var data = isi.val(); %>
                            <div class="miring mx-2 pt-4 pb-4"><%= data.nama %></div>
                        <%  }); %>                         
                                            
                </div>      
            </div>
        </div>
        <!-- Content End -->

        <!-- Footer Section -->
        <%- include('templates/footer'); -%>
        <!-- Footer End -->
       


    </body>
</html>
