<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('templates/admin_head'); -%>
       

</head>

<body id="page-top">

        <%- include('templates/admin_navbar'); -%>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('templates/admin_sidebar'); -%>

    <div id="content-wrapper">

      <div class="container-fluid">


        <!-- Page Content -->
        <h1>Contact</h1>
        <hr>
      
        <h3>Column 1</h3>
        <div class="form-group">
            <div class="form-label-group">                            
                <textarea class="form-control" style="width:100%" id="column1Txt" rows="5" placeholder="Masukkan teks kolom 1"></textarea>
            </div>
        </div>
        <h3>Column 2</h3>
        <div class="form-group">
            <div class="form-label-group">                            
                <textarea class="form-control" style="width:100%" id="column2Txt" rows="5" placeholder="Masukkan teks kolom 2"></textarea>
            </div>
        </div>
        
        <a class="btn btn-primary btn-block" id="simpanBtn">Simpan</a>
            

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <%- include('templates/admin_footer'); -%>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  
  <%- include('admin_script'); -%>
    <script type="text/javascript">
        
            db.ref('/contact').once('value', function(snapshot) { // load realtime
            let contact = snapshot.val();
            $("#column1Txt").text(contact.column1);
            $("#column2Txt").text(contact.column2);
        });

        $('#simpanBtn').click(function() {
            let column1= $('#column1Txt').val();
            let column2 = $('#column2Txt').val();
            db.ref('/contact').set({
                
                "column1" : column1,
                "column2" : column2

            }, function(error) {
            if (error) {
                // The write failed...
                alert("Peringatan! Data Gagal Disimpan!")
            } else {
                // Data saved successfully!
                alert("Data Berhasil Disimpan!")
            }
            });
        });
    </script>   

</body>

</html>
