<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('templates/admin_head'); -%>
    
       

</head>
<style>
    .foto-preview{
        max-height: 200px;
    }

    .foto-table{
        max-height: 50px;
    }

    #uploader{
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        margin-bottom: 10px;
    }

</style>

<body id="page-top">

        <%- include('templates/admin_navbar'); -%>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('templates/admin_sidebar'); -%>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Page Content -->
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="cart-title">
                        <h1>Funwork</h1>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="text-right">
                    <a class="btn btn-success text-right m-3" href="#dataModal" data-toggle="modal" data-action="add" data-child-id="null">Tambah Funwork</a>
                </div>                                        
            </div>                                    
            
        </div>

      </div>
      <hr>

      <table id="tabelFunwork" class="table table-bordered display responsive" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Keterangan</th>
                    <th>Foto</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    <% dataLoad = JSON.stringify(funwork); %>
                    <%  funwork.forEach(function(isi) { var data = isi.val(); %>
                        <tr>                                                            
                            <td><%= data.nama %></td>
                            <td><%= data.keterangan %></td>
                            <td>
                                <% if (data.foto !== "") { %>
                                    <% for(var i = 0; i < data.foto.length; i++) { var obj = data.foto[i]; if (obj !== undefined){ %>
                                        <a href="#imgModal" data-toggle="modal" data-img-name="<%= obj %>" data-nama="<%= isi.key %>">
                                            <img  alt="<%= obj %>" class="img-thumbnail foto-table" src="https://firebasestorage.googleapis.com/v0/b/cromosom1.appspot.com/o/funwork%2F<%= isi.key %>%2F<%= obj %>?alt=media">
                                        </a>
                                        
                                    <% }} %>
                                <% } else {%>
                                    <p>Tidak Ada Foto</p>
                                <% } %>
                            </td>
                            <td>
                                <a class="btn btn-info btn-sm" href="#dataModal" data-toggle="modal" data-action="edit" data-child-id="<%= isi.key %>">Edit</a>                                                                    
                                <a class="btn btn-danger btn-sm" href="#dataModal" data-toggle="modal" data-action="delete" data-child-id="<%= isi.key %>">Hapus</a>                                                                    
                            </td>                                                                                                               
                        </tr>                                                                        
                    <%  }); %>                                                           
            </tbody>
        </table>     
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <%- include('templates/admin_footer'); -%>

    </div>
    <!-- /.content-wrapper -->

  </div>

  <div class="modal" id="dataModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h4 id="judul" class="modal-title">Modal header</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nama" class=" form-control-label">Nama</label>
                    <input type="text" id="nama" placeholder="Masukkan Nama" class="form-control">
                </div>                
                <div class="form-group">
                    <label for="keterangan" class=" form-control-label">Keterangan</label>
                    <div class="form-label-group">                            
                        <textarea class="form-control" style="width:100%" id="keterangan" rows="5" placeholder="Masukkan Keterangan"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="gallery"></div>
                    <br> 
                    <progress value="0" max="100" id="uploader"></progress>
                    <br>
                    
                    <input type="file" accept="image/*" multiple id="gambar">
                   
                </div>
                    
                
              
              
            </div>
            <div class="modal-footer">
                <button id="konfirmasi"  type="button" class="btn btn-primary">Konfirmasi</button>
                <button data-dismiss="modal" type="button" class="btn btn-default">Batal</button>
              
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="imgModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 id="judul" class="modal-title">Modal header</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    
                </div>
                <div class="modal-body">                    
                    <div class="form-group">
                        <img id="image-preview" alt="Foto" class="img-thumbnail foto-preview"/>
                        <br> 
                        <progress value="0" max="100" id="uploader"></progress>
                        <br>
                        <input type="file" accept="image/*" id="gambarPrev" placeholder="Pilih Foto" onchange="previewImage();">                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="konfirmasi"  type="button" class="btn btn-primary">Konfirmasi</button>
                    <button data-dismiss="modal" type="button" class="btn btn-default">Batal</button>
                  
                </div>
              </div>
            </div>
          </div>
  <!-- /#wrapper -->

  
  <%- include('admin_script'); -%>
  <script>
        $('#imgModal').on('show.bs.modal', function(e) {
            let foto, typeFoto;
            let imgName = $(e.relatedTarget).data('img-name');
            let nama = $(e.relatedTarget).data('nama');

            let judulTxt = $(e.currentTarget).find('h4[id="judul"]');            
            let funworkImg = $(e.currentTarget).find('input[id="gambarPrev"]');
            let imgPreview = $(e.currentTarget).find('img[id="image-preview"]');
            let konfirmasiBtn = $(e.currentTarget).find('button[id="konfirmasi"]');
            let uploaderProg = $(e.currentTarget).find('progress[id="uploader"]');

            judulTxt.text("Ubah Gambar");
            
            imgPreview.attr('src',"https://firebasestorage.googleapis.com/v0/b/cromosom1.appspot.com/o/funwork%2F"+nama+ "%2F"+ imgName + "?alt=media");

            funworkImg.change(function(e){
                
                foto = e.target.files[0];
                let filePath = funworkImg.val(); 
                typeFoto = filePath.substr(filePath.lastIndexOf('.')+1,filePath.length);
               
            });

            konfirmasiBtn.click(function(){
                if(foto){
                    let storageRef = storage.ref('funwork/'+nama+"/"+imgName);
                    let uploadTask = storageRef.put(foto);
                    
                    uploadTask.on('state_changed',

                    function progress(snapshot){
                        let percentage = (snapshot.bytesTransferred / snapshot.totalBytes) *100;
                        uploaderProg.val(percentage);

                    },
                    function error(err){
                        alert('Terjadi Kesalahan !');
                        
                    },

                    function complete(){                                                                        
                    
                            alert('Data berhasil disimpan !');
                            location.href="/admin_edit_funwork"
                        
                        
                        
                    });
                }else{
                    alert('Tidak ada gambar yang dipilih!')
                }
                
            });
        });
       
       $('#dataModal').on('show.bs.modal', function(e) {
            let dataObj, foto, namaurl;
            let nama, keterangan, funwork, namaFoto, typeFoto;

            namaFoto = "";
            //get data-id attribute of the clicked element
            let dataId = $(e.relatedTarget).data('child-id');
            action = $(e.relatedTarget).data('action');

            

            if(action == 'edit' || action == 'delete'){
                dataObj = <%-dataLoad%>;
                nama = dataObj[dataId].nama;
                keterangan = dataObj[dataId].keterangan;
                namaFoto = dataObj[dataId].foto;
            }
                                
            let judulTxt = $(e.currentTarget).find('h4[id="judul"]');            
            let namaTxt = $(e.currentTarget).find('input[id="nama"]');
            let keteranganTxt = $(e.currentTarget).find('textarea[id="keterangan"]');
            let funworkImg = $(e.currentTarget).find('input[id="gambar"]');
            let imgPreview = $(e.currentTarget).find('img[id="image-preview"]');
            let konfirmasiBtn = $(e.currentTarget).find('button[id="konfirmasi"]');
            let uploaderProg = $(e.currentTarget).find('progress[id="uploader"]');

            namaTxt.val(nama);
            keteranganTxt.text(keterangan);
            funworkImg.val("");
          
            
            if(namaFoto != ""){
                imgPreview.attr('src',"https://firebasestorage.googleapis.com/v0/b/cromosom1.appspot.com/o/funwork%2F"+ namaFoto + "?alt=media");
            }
            

            if(action == 'add'){
              
                judulTxt.text("Tambah Funwork");
                konfirmasiBtn.text("Tambahkan");
                namaTxt.prop('disabled', false);
                keteranganTxt.prop('disabled', false);
                funworkImg.prop('disabled', false);
            }else if(action == 'edit'){
                judulTxt.text("Edit Funwork");
                konfirmasiBtn.text("Update");
                namaTxt.prop('disabled', false);
                keteranganTxt.prop('disabled', false);
                funworkImg.prop('disabled', false);
            }else if(action == 'delete'){
                judulTxt.text("Hapus Funwork");
                konfirmasiBtn.text("Hapus");
                namaTxt.prop('disabled', true);
                keteranganTxt.prop('disabled', true);
                funworkImg.prop('disabled', true);
            }

            funworkImg.change(function(e){
                
                $('div.gallery').empty();
                imagesPreview(this, 'div.gallery');
                foto = e.target.files;
               

            });

            konfirmasiBtn.click(function(){
                if(action == 'add'){
                    nama = namaTxt.val();
                    keterangan = keteranganTxt.val();              

                    namaurl = slugify(nama);
                    namaFoto = {};                         
                                        
                    if(foto){
                        var filesAmount = foto.length;

                        for (i = 0; i < filesAmount; i++) {
                            
                            filePath = foto[i].name;
                            typeFoto = filePath.substr(filePath.lastIndexOf('.')+1,filePath.length);
                            namaFoto[i] = namaurl+"("+i+")"+"."+typeFoto;
                            
                            
                        }
                       
                    }

                    db.ref('/funwork/'+namaurl).set({                                            
                        nama : nama,
                        keterangan : keterangan,
                        foto : namaFoto
                    }, function(error) {
                        if (error) {
                            // The write failed...
                           alert('Terjadi Kesalahan !');
                        } else {
                            // Data saved successfully!
                            
                            if(foto){
                                var filesAmount = foto.length;

                                for (i = 0; i < filesAmount; i++) {
                                    
                                    let storageRef = storage.ref('funwork/'+namaurl+"/"+namaFoto[i]);
                                    let uploadTask = storageRef.put(foto[i]);
                                    
                                    uploadTask.on('state_changed',

                                    function progress(snapshot){
                                        let percentage = (snapshot.bytesTransferred / snapshot.totalBytes) *100;
                                        uploaderProg.val(percentage);

                                    },
                                    function error(err){
                                        alert('Terjadi Kesalahan !');
                                        
                                    },

                                    function complete(){                                                                        
                                        if(i == filesAmount){
                                            alert('Data berhasil disimpan !');
                                            location.href="/admin_edit_funwork"
                                        }
                                        
                                        
                                    });
                                }
                                

                                
                            }else{
                                alert('Data berhasil disimpan !');
                                    location.href="/admin_edit_funwork"
                            }
                            
                        
                        }
                        
                    });

                
                

                }else if(action == 'edit'){
                    nama = namaTxt.val();
                    keterangan = keteranganTxt.val();                                
                    if(funworkImg.val() != ""){
                        namaFoto = nama + '.' + typeFoto;
                    }
                       
                    db.ref('/funwork/' + dataId).set({
                    nama : nama,
                    keterangan : keterangan,
                    foto : namaFoto
                    }, function(error) {
                        if (error) {
                            // The write failed...
                        alert('Terjadi Kesalahan !');
                        } else {
                            // Data saved successfully!
                            
                            
                            if(funworkImg.val() != ""){
                                
                                let storageRef = storage.ref('funwork/'+namaFoto);
                                let uploadTask = storageRef.put(foto);

                                uploadTask.on('state_changed',

                                    function progress(snapshot){
                                        let percentage = (snapshot.bytesTransferred / snapshot.totalBytes) *100;
                                        uploaderProg.val(percentage);

                                    },
                                    function error(err){
                                        alert('Terjadi Kesalahan !');
                                    },

                                    function complete(){
                                        alert('Data berhasil disimpan !');
                                        location.href="/admin_edit_funwork";
                                    }
                                );
                            }else{
                                alert('Data berhasil disimpan !');
                                location.href="/admin_edit_funwork";
                            }
                        
                        }
                        
                    }); 
                    
                }else if(action == 'delete'){
                    db.ref('/funwork/' + dataId).remove(function(error){
                        if (error) {
                            // The write failed...
                        alert('Terjadi Kesalahan !');
                        } else {
                            // Data saved successfully!
                            
                            if(namaFoto != ""){
                                let storageRef = storage.ref('funwork/'+namaFoto);
                                storageRef.delete().then(function() {
                                    // File deleted successfully
                                    alert('Data berhasil dihapus !');
                                    location.href="/admin_edit_funwork";
                                }).catch(function(error) {
                                    alert('Terjadi Kesalahan !');
                                });

                            }else{
                                alert('Data berhasil dihapus !');
                                location.href="/admin_edit_funwork";
                            }
                        
                        }
                        
                    });
                }
                
            });
           

       });

       

       function previewImage() {
            document.getElementById("image-preview").style.display = "block";
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("gambarPrev").files[0]);

            oFReader.onload = function(oFREvent) {
            document.getElementById("image-preview").src = oFREvent.target.result;
            };
        };

        
        // Multiple images preview in browser
        let imagesPreview = function(input, placeToInsertImagePreview) {
            
            if (input.files) {
                var filesAmount = input.files.length;

                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();
                    
                    reader.onload = function(event) {

                        var gambar =  $($.parseHTML('<img>')).attr('src', event.target.result);
                        gambar.attr('class', 'img-thumbnail foto-table');
                        gambar.appendTo(placeToInsertImagePreview);

                    }

                    reader.readAsDataURL(input.files[i]);
                    
                }
            }

        };

       
        
  </script>

</body>

</html>
