<!doctype html>
<html lang="id">
   <!-- Head Section -->
  <head>
    <%- include('templates/head'); -%>
  
  </head>
 
<!-- Head Section End -->
  
<body>

<!-- Header Section -->
<%- include('templates/header'); -%>
<!-- Header Section End -->
<section class="content"> 
         <!-- Content Section -->
         <div class="container-fluid pt-5 pb-5 bg-light my-4">
                <div class="row text-center text-lg-left px-5">
                   
                    <%work.forEach(function(isi) {  var data = isi.val(); %>
                        
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 nopadding">
                                <div class="workgambar">                   
                                        <a href="/workdetail/<%= isi.key %>">
                                            <img alt="<%= data.nama %>" class="img-fluid img-responsive workimage nopadding" src="https://firebasestorage.googleapis.com/v0/b/cromosom1.appspot.com/o/work%2F<%= isi.key %>%2F<%= data.foto %>?alt=media">
                                            
                                            <div class="overlay">
                                                <h3 class="textwork ml-2"><%= data.nama %></h3>
                                            </div>
                                        </a>
                                </div>
                            </div>
                       
                
                    <%  }); %>  
                    
                   
                </div>
    
            </div>
        </section>
            <!-- Content End -->

       <!-- Footer Section -->
        <%- include('templates/footer'); -%>
        <!-- Footer End -->

      
    </body>
</html>
